.block-services {
    position: relative;

    .wp-block-table {
        td,th {
            min-width: unset;
    
            &:nth-of-type(3) {
                display: none;
            }
        }

    } 

    .tor-service-choosen {
        position: fixed;
        bottom: 0;
        right: -100%;
        opacity: 0;
        width: 100%;
        z-index: 9999;
        background-color: #fff;
        margin: 0;
        box-shadow: 0 0 24px rgba(0,0,0,.2);
        padding: 21px;
        transition: opacity .3s ease-in-out, right .3s ease-in-out;
        max-height: 45dvh;

        h3 {
            margin-top: 0;
            font-size: 18px;
        }

        table {
            margin-bottom: 0;

            th,
            td {
                display: table-cell !important;
                padding: 3px 6px;
                font-size: 16px;
            }

            tfoot {
                td {
                    font-size: 18px;
                }
            }
        }

        &.is-active {
            opacity: 1;
            right: 0;
        }
    }
       
    &__search {
        position: sticky;
        top: 80px;
        z-index: 99;
        background-color: #fff;
        padding: 24px 0;

        label {
            margin-top: 12px;
            display: block;
        }

        .search-form__search-field {
            width: 100%;
            font-size: 16px;
            padding: 16px;
        }

    }
}

@media(min-width: 768px) {
    .block-services {
        .wp-block-table {
            td,th {
                &:nth-of-type(3) {
                    display: table-cell;
                }
            }
        }
    
        .tor-service-choosen {
            bottom: 30px;
            right: 30px;
            width: 60vw;
            max-width: 600px;
            border-radius: 12px;
            max-height: 65dvh;

            &.is-active {
                right: 30px;
            }
        }

        &__search {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            h3 {
                margin: 0;
            }

            label {
                flex: 1;
                margin-top: 0;
                margin-left: 16px;
            }
    
            .btn {
                width: unset;
            }
    
        }
    }
}

@media(min-width: 1140px) {
    .block-services {

        &__search {
            top: 100px;
    
        }
    }
}