body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.3;
	position: relative;
}

// Layout
.container,
.container-full {
	width: 100%;
	padding: 0 16px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 16px);
	margin-left: -8px;
}

.col {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 8px;
}

// GENERAL

h1,
h2,
h3 {
	font-weight: 600;
	margin-bottom: 24px;
}

h1 {
	font-size: 30px;
	margin: 0 0 16px;
}

h2 {
	font-size: 26px;
	margin-top: 48px;
}

h3 {
	font-size: 23px;
}

p {
	font-size: 14px;
	font-weight: 400;
	margin: 12px 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	background: blue;
	color: white;
	border: 1px solid blue;
	border-radius: 4px;
	padding: 4px 26px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	margin: 16px 0 22px;

	&:hover,
	&:focus {
		color: white;
		background-color: blue;
		text-decoration: none;
	}

	&-lg {
		padding: 8px 22px;
		font-size: 16px;
	}

	&-disable {
		color: black;
		border: 1px solid black;
		background-color: gray;
	}
}

@media (min-width: $bp__tablet) {

}

@media (min-width: $bp__desktop) {
	.container {
		padding: 0 24px;
	}

	.row {
		width: calc(100% + 32px);
		margin-left: -16px;
	}
	
	.col {
		padding: 0 16px;
	}
}
