// COLORS


// BREAK POINTS
$bp__tablet: 768px;
$bp__desktop: 1024px;

// BORDER RADIUS
// $border-radius: 16px;

// FONTS
@font-face {
	font-family: 'Poppins';
	src: url(./../../../fonts/Poppins-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Poppins';
	src: url(./../../../fonts/Poppins-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Poppins';
	src: url(./../../../fonts/Poppins-SemiBold.ttf);
	font-weight: 600;
}
