@import "../global/abstract";

body .gform_wrapper {
  margin-bottom: toRem(60);

  .gform_required_legend {
    display: none;
  }

  .gfield_label {
    font-size: toRem(16);
    font-weight: 600;
    color: wpColor(black);
    font-style: normal;
    line-height: normal;
  }

  .ginput_container {

    input:not([type="radio"]):not([type="checkbox"]),
    textarea {
      border: 1px solid wpColor(tl-blue-4);
      border-radius: toRem(5);
      padding: toRem(23) toRem(15);
      font-size: toRem(16);
      font-weight: 400;
      font-style: normal;
      line-height: normal;

      @include placeholder {
        font-size: toRem(16);
        font-weight: 400;
        font-style: normal;
        line-height: normal;
      }
    }
  }
}