@import "../global/abstract";
@import "../global/fonts";

.site-header {
  padding: toRem(19) 0;
  background: #fff;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.16);

  @include breakpoint(lg, min) {
    padding: toRem(22) 0;
  }

  .row {
    align-items: center;
  }

  &__main--navigation {
    @include breakpoint(lg, min) {
      .menu {
        display: flex;
        gap: toRem(20);
        align-items: center;
        li {
          flex: 0 0 auto;
          a {
            color: wpColor(tl-black);
            font-size: toRem(18);
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            &:hover {
              color: wpColor(tl-blue-1);
            }
          }
        }

        li.current_page_item {
          a {
            color: wpColor(tl-blue-1);
            text-decoration: underline;
          }
        }

        li.menu-item-has-children {

          .sub-menu {
            display: none;
          }
        }
      }
    }

    &--right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .menu {
        gap: toRem(16);
        justify-content: flex-end;
        li {
          a {
            font-size: toRem(13);
          }
        }
        li.current_page_item {
          a {
            color: wpColor(tl-blue-1);
            text-decoration: underline;
          }
        }
      }

      &--links {
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          gap: toRem(16);
          margin: 0;
          padding-left: toRem(16);
          li {
            a {
              font-size: toRem(13);
              color: wpColor(tl-black);
              font-style: normal;
              font-weight: 700;
              line-height: normal;

              svg {
                position: relative;
                top: toRem(5);
              }
            }
            ul.lang-sub-menu {
              display: none;
            }
          }
        }
      }
    }
  }
}
