@import "../global/abstract";
@import "../global/fonts";

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.16);
  z-index: 9;

  &__branding {
    position: relative;
    z-index: 99999;
  }

  .row {
    align-items: center;
  }

  @include breakpoint(lg, min) {
    .custom-md-3 {
      width: 21%;
    }

    .custom-md-4 {
      width: 26.3333333333%;
    }

    .custom-md-5 {
      width: 52.6666666667%;
    }
  }

  &__nav-wrap {
    position: relative;
    display: inline-block;
  }

  #main-navigation {
    position: relative;
    margin-left: toRem(32);
    padding-right: toRem(63);

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100vw;
      height: 0;
      transition: height 0.5s ease;
      right: 0;
      top: 0;
      z-index: 999;
      background-color: #fff;
    }

    a {
      position: relative;
      z-index: 999999;
    }
  }

  #main-navigation.menu-active {
    &::before {
      height: 100vh;
    }
  }

  &__nav-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: var(--mainNavWidth);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    background: rgba(0, 63, 226, 0.3);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  .overlay-active {
    opacity: 1;
    visibility: visible;
    z-index: 24;
  }

  &__main--navigation {
    ul {
      margin-bottom: 0;

      li {
        margin-bottom: 0;
      }
    }
    @include breakpoint(lg, min) {
      .menu {
        display: flex;
        align-items: center;
        height: var(--headerHeight);
        li {
          flex: 0 0 auto;
          padding-right: toRem(20);

          &:last-child {
            padding-right: 0;
          }
          a {
            color: wpColor(tl-black);
            font-size: toRem(18);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-bottom: 2px solid transparent;
            transition: all 0.15s ease-in-out;
            text-decoration: none;

            &:hover {
              color: wpColor(tl-blue-4);
              border-color: wpColor(tl-blue-4);
            }
          }

          .sub-menu {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99999;
            padding-top: toRem(159);
            padding-left: 0;
            margin: 0;
            list-style: none;
            width: 100%;
            height: 100vh;

            li {
              padding-right: toRem(66);
              padding-bottom: toRem(16);

              a {
                font-size: toRem(24);
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &:hover {
                  border-color: transparent;
                }
              }

              .sub-menu-level-two {
                position: absolute;
                top: 0;
                left: calc(var(--mainNavWidth) - toRem(32));
                width: toRem(330);
                background: wpColor(tl-grey-2);
                height: 100vh;
                padding: toRem(159) toRem(32) 0;
                margin: 0;
                list-style: none;

                li {
                  padding-right: 0;

                  a {
                    font-size: toRem(20);
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &::before {
                      display: none;
                    }
                  }
                }
              }
            }

            li.menu-item-has-children {
              a {
                display: block;
                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 50%;
                  width: toRem(19);
                  height: toRem(19);
                  right: toRem(-15);
                  border-right: 2px solid wpColor(tl-dark-grey);
                  border-top: 2px solid wpColor(tl-dark-grey);
                  transform: rotate(45deg) translateY(-50%);
                }

                &:hover {
                  &::before {
                    border-color: wpColor(tl-blue-4);
                  }
                }
              }
            }
            li.current_page_ancestor.children-first-level > a:first-child {
              &::before {
                border-color: wpColor(tl-blue-4);
              }
            }
          }
        }

        li.current_page_item > a:first-child {
          color: wpColor(tl-blue-4);
          border-color: wpColor(tl-blue-4);
        }

        li.children-zero-level.active > a:first-child {
          color: wpColor(tl-blue-4);
          border-color: wpColor(tl-blue-4);
        }

        li.current_page_item.children-first-level > a:first-child {
          color: wpColor(tl-blue-4);
          border: none;
        }

        li.current_page_item.sub-menu-level-two-items > a:first-child {
          color: wpColor(tl-blue-4);
          border: none;
          text-decoration: underline;
        }

        li.current_page_ancestor.children-first-level > a:first-child {
          color: wpColor(tl-blue-4);
          border: none;
        }

        li.menu-item-has-children {
          .sub-menu,
          .sub-menu-level-two {
            //display: none;
            transition: opacity 0.5s ease;
            opacity: 0;
            visibility: hidden;
          }
        }
        li.active {
          .sub-menu {
            //display: block;
            opacity: 1;
            visibility: visible;

            li.active {
              .sub-menu-level-two {
                display: block;
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }

    &--right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .menu {
        gap: toRem(16);
        justify-content: flex-end;
        li {
          padding-right: 0;
          a {
            font-size: toRem(13);
            text-decoration: none;
          }
        }
        li.current_page_item {
          a {
            color: wpColor(tl-blue-4);
          }
        }
      }

      &--links {
        position: relative;
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          gap: toRem(16);
          margin: 0;
          padding-left: toRem(16);
          li {
            a {
              font-size: toRem(13);
              color: wpColor(tl-black);
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              border-bottom: 2px solid transparent;
              transition: all 0.15s ease-in-out;
              text-decoration: none;

              svg {
                position: relative;
                top: toRem(5);
              }

              &:hover {
                color: wpColor(tl-blue-4);
                border-color: wpColor(tl-blue-4);
              }
            }

            a.search-icon,
            a.language-icon {
              display: block;
              &:hover {
                border-color: transparent;
              }
            }

            ul.lang-sub-menu {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              transition: opacity 0.5s ease, visibility 0.5s ease;
              background: wpColor(white);
              min-width: toRem(145);
              display: block;
              bottom: toRem(-165);
              right: 0;
              padding: toRem(9) toRem(15) toRem(13) toRem(15);
              border: 1px solid wpColor(tl-grey-1);
              text-align: left;

              li {
                a {
                  font-weight: 400;
                  &:hover {
                    border-color: transparent;
                  }
                }
              }

              li.divider {
                border-bottom: 1px solid wpColor(tl-grey-1);
                padding-bottom: toRem(9);
                margin-bottom: toRem(6);
              }

              li.current-lang {
                a {
                  color: wpColor(tl-blue-4);
                }
              }

              li.pismo {
                a {
                  color: wpColor(tl-dark-grey);

                  &:hover {
                    color: wpColor(tl-blue-4);
                  }
                }
              }

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: -0.75rem;
                right: toRem(5);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0.53125rem 0.75rem 0.53125rem;
                border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
                  wpColor(tl-grey-1) rgba(0, 0, 0, 0);
              }

              &::after {
                content: "";
                display: block;
                position: absolute;
                top: -0.6875rem;
                right: toRem(6);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0.46875rem 0.6875rem 0.46875rem;
                border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff
                  rgba(0, 0, 0, 0);
              }
            }

            ul.lang-sub-menu.active {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.site-header__search-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: wpColor(white);
  transition: opacity 0.5s ease;

  .search-form {
    position: relative;

    &__search-field {
      display: block;
      width: 100%;
      border-radius: toRem(10);
      border: 1px solid wpColor(tl-blue-4);
      background: wpColor(white);
      font-size: toRem(24);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: toRem(18) toRem(32);
      outline-offset: 0;
    }

    &__button {
      position: absolute;
      top: 50%;
      right: toRem(32);
      transform: translateY(-50%);
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: none;
    }
  }
}

input.search-form__search-field[type="search"]::-webkit-search-decoration,
input.search-form__search-field[type="search"]::-webkit-search-cancel-button,
input.search-form__search-field[type="search"]::-webkit-search-results-button,
input.search-form__search-field[type="search"]::-webkit-search-results-decoration {
  display: none; 
}

.site-header__search-popup.active {
  opacity: 1;
  visibility: visible;
}

body.disable-scroll,
body.disable-scroll-search {
  overflow-y: hidden;
}
