@import "../global/abstract";

.single,
.page {
  .featured-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 60dvh;
    z-index: -1;

    .post-thumbnail,
    .post-thumbnail img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-wrap {
    padding-top: toRem(90);
    padding-bottom: toRem(50);
    // position: relative;

    .entry-tags {
      display: inline-block;
      margin-bottom: toRem(24);
      @include breakpoint(md, min) {
        display: flex;
        gap: toRem(24);
      }

      a {
        margin-bottom: toRem(12);
        margin-right: toRem(16);
        font-size: toRem(14);

        @include breakpoint(md, min) {
          margin-bottom: 0;
          margin-right: 0;
          font-size: toRem(16);
        }
      }
    }

    .entry-header {
      // position: relative;
      margin-bottom: toRem(60);

      h1.entry-title {
        margin-bottom: 0;
        font-size: toRem(32);

        @include breakpoint(md, min) {
          font-size: toRem(48);
        }
      }

      .entry-meta {
        margin-top: toRem(12);
        a {
          color: wpColor(tl-dark-grey);
          font-size: toRem(18);
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          &:hover {
            text-decoration: none;
          }

          time {
            text-transform: capitalize;
          }
        }
      }
    }

    .single-widget {
      margin-top: toRem(70);
      margin-bottom: toRem(60);
      padding: toRem(40) toRem(20);
      border-radius: toRem(10);
      background: wpColor(white);
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.16);
      @include breakpoint(md, min) {
        margin-top: 0;
      }

      h3 {
        margin-bottom: toRem(40);
        margin-top: 0;
        font-size: toRem(32);
        font-weight: $regular;
      }

      figure {
        width: 100%;
        height: toRem(178);
        margin-bottom: toRem(23);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: toRem(10);
        }
      }

      .btn {
        width: 100%;
      }
    }
  }

  .block-design .content-wrap {
    padding-top: toRem(0);
  }

  // Zaposleni CPT Style
  .zaposleni {

    .row-inverse-mob {

      @include breakpoint(lg, max) {
        flex-direction: column-reverse;
      }
    }

    .entry-content {

      h2:first-of-type {
        margin-top: 0;
      }
    }

    h2 {
      margin-top: toRem(90);
      margin-bottom: toRem(40);
      padding-top: toRem(20);
      border-top: 1px solid wpColor(tl-grey-3);
      font-size: toRem(28);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: wpColor(tl-black);
    }

    p {
      margin-bottom: toRem(40);
      font-size: toRem(20);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .single-widget {

      @include breakpoint(md, max) {
        margin-top: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
      }


      &__employee {

        @include breakpoint(md, min) {
          display: flex;
          flex-direction: row-reverse;
        }

        @include breakpoint(lg, min) {
          flex-direction: column;
        }

        &--image {
          width: 100%;
          height: toRem(420px);
          margin-bottom: toRem(25);

          @include breakpoint(md, min) {
            flex: 0 0 auto;
            width: 50%;
          }

          @include breakpoint(lg, min) {
            width: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
            border-radius: toRem(10);
          }
        }

        &--info {

          @include breakpoint(md, min) {
            flex: 0 0 auto;
            width: 50%;
            padding-right: toRem(31);
          }

          @include breakpoint(lg, min) {
            padding-right: 0;
            width: 100%;
          }

          h1 {
            font-size: toRem(28);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          span {
            display: block;
          }

          span,
          p {
            font-size: toRem(22);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          p {
            margin-top: toRem(24);
            margin-bottom: toRem(24);

            a {
              display: block;
              font-size: toRem(22);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration-line: underline;
            }
          }

          p.d-f {
            margin-top: 0;
            margin-bottom: toRem(12);
            gap: toRem(12);
            align-items: center;

          }

          a[href^="mailto:"] {
            color: #003FE2;

            &:hover {
              text-decoration-line: none;
            }
          }

          a[href^="tel:"] {
            color: wpColor(black);
            text-decoration-line: none;
          }

          &--socials {
            margin-top: toRem(48);
            margin-bottom: 0;
            padding: 0;
            display: flex;
            gap: toRem(11);
            list-style: none;

            li {
              margin-bottom: 0;

              a {
                display: block;
                max-width: toRem(36);
                max-height: toRem(36);

                svg {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }

  }
}

.error-404 {
  background: linear-gradient(180deg, wpColor(tl-grey-2) 50%, rgba(230, 236, 253, 0.00) 100%);
  text-align: center;
  min-height: toRem(714);
  display: flex;
  align-items: center;

  .error-404-text {
    margin-top: 0;
    margin-bottom: toRem(60);
    color: wpColor(tl-blue-4);
    font-size: toRem(190);
    font-style: normal;
    font-weight: 700;
    line-height: toRem(190);
  }

  .page-title {
    color: wpColor(tl-black);
    text-align: center;
    font-size: toRem(40);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
