@import "../global/abstract";

.single,
.page {
  .featured-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: toRem(460);
    z-index: -1;

    .post-thumbnail,
    .post-thumbnail img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-wrap {
    padding-top: toRem(90);
    padding-bottom: toRem(50);
    // position: relative;

    .entry-tags {
      display: inline-block;
      margin-bottom: toRem(24);
      @include breakpoint(md, min) {
        display: flex;
        gap: toRem(24);
      }

      a {
        margin-bottom: toRem(12);
        margin-right: toRem(16);
        font-size: toRem(14);

        @include breakpoint(md, min) {
          margin-bottom: 0;
          margin-right: 0;
          font-size: toRem(16);
        }
      }
    }

    .entry-header {
      // position: relative;
      margin-bottom: toRem(60);

      h1.entry-title {
        margin-bottom: 0;
        font-size: toRem(32);

        @include breakpoint(md, min) {
          font-size: toRem(48);
        }
      }

      .entry-meta {
        margin-top: toRem(12);
        a {
          color: wpColor(tl-dark-grey);
          font-size: toRem(18);
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          &:hover {
            text-decoration: none;
          }

          time {
            text-transform: capitalize;
          }
        }
      }
    }

    .single-widget {
      margin-top: toRem(70);
      margin-bottom: toRem(60);
      padding: toRem(40) toRem(20);
      border-radius: toRem(10);
      background: #fff;
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.16);
      @include breakpoint(md, min) {
        margin-top: 0;
      }

      h3 {
        margin-bottom: toRem(40);
        margin-top: 0;
        font-size: toRem(32);
        font-weight: $regular;
      }

      figure {
        width: 100%;
        height: toRem(178);
        margin-bottom: toRem(23);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: toRem(10);
        }
      }
    }
  }

  .block-design .content-wrap {
    padding-top: toRem(0);
  }
}

.error-404 {
  background: linear-gradient(180deg, wpColor(tl-grey-2) 50%, rgba(230, 236, 253, 0.00) 100%);
  text-align: center;
  min-height: toRem(714);
  display: flex;
  align-items: center;

  .error-404-text {
    margin-top: 0;
    margin-bottom: toRem(60);
    color: wpColor(tl-blue-4);
    font-size: toRem(190);
    font-style: normal;
    font-weight: 700;
    line-height: toRem(190);
  }

  .page-title {
    color: wpColor(tl-black);
    text-align: center;
    font-size: toRem(40);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
