@use '../../assets/public/src/scss/global/abstract' as *;

.posts-grid {

  figure {
    margin: 0;
  }

  &__wrapper {
    margin-bottom: toRem(65);

    @include breakpoint(lg, min) {
      margin-bottom: toRem(90);
    }

    a.post-thumbnail {
      display: block;
      height: 100%;
      img {
        border-radius: toRem(10);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    figure {
      margin: 0;
    }
  }

  h3 {
    margin-bottom: toRem(24);
    font-size: toRem(18);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__article {
    border-top: 1px solid wpColor(tl-grey-3);
    display: flex;
    flex-direction: column;

    @include breakpoint(lg, min) {
      flex-direction: row;
      padding: toRem(40) 0;
    }

    &--wrap-1 {
      flex: 0 0 auto;

      span {
        padding: toRem(12) 0;
        display: inline-block;

        @include breakpoint(lg, min) {
          padding: 0;
        }
      }
      
      @include breakpoint(lg, min) {
        padding-right: toRem(25);
        width: 17.55%;
      }
    }

    &--wrap-2 {
      flex: 0 0 auto;
      
      @include breakpoint(lg, min) {
        width: 28.95%;
        order: 3;
      }
    }

    &--wrap-3 {
      flex: 0 0 auto;
      
      @include breakpoint(lg, min) {
        padding-right: toRem(25);
        width: 53.5%;
        order: 2;
      }
    }

    &--categories {
      padding: toRem(12) 0;

      @include breakpoint(lg, min) {
        padding: 0;
      }

      a {
        color: wpColor(tl-black);
        font-size: toRem(18);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .featured-image {
      min-height: toRem(190);

      @include breakpoint(md, min) {
        min-height: toRem(220);
      }

      @include breakpoint(lg, min) {
        margin-bottom: 0;
      }

      img {
        border-radius: toRem(10);
      }
    }

    &--entry-header {

      h2 {
        margin-top: toRem(32);
        margin-bottom: toRem(16);
        color: wpColor(tl-blue-4);
        font-size: toRem(32);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include breakpoint(lg, min) {
          margin-top: 0;
        }
      }
    }

    &--entry-content {

      p {
        margin-bottom: toRem(20);
        color: wpColor(tl-black);
        font-size: toRem(20);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__btn-wrapper {
    text-align: center;

    .btn {
      left: 0;
      transform: translate(0, 0);
    }
  }

  &__events {
    margin-top: toRem(-65);
    margin-bottom: toRem(65);

    @include breakpoint(lg, min) {
      margin-top: 0;
      margin-bottom: 0;
    }

    &--wrapper {
      border-top: 1px solid wpColor(tl-grey-3);
      padding-top: toRem(12);

      @include breakpoint(lg, min) {
        padding-top: toRem(40);
      }

      h4 {
        font-size: 20px;
        margin-bottom: toRem(6);
      }

      p {
        font-size: 16px;
        color: wpColor(tl-grey-3);
        margin-bottom: 2rem;
      }
    }
  }
}