@use "abstract" as *;

:root {
  --headerHeight: 0px;
  --contactBarHeight: 0px;
}

html {
  scroll-padding-top: var(--headerHeight);
  font-family: $defaultFontFamily;
}

.html--prevent-scroll {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.site {
}

.no-results {
}

.site-main {
}

.error-404 {
}

.menu {
  list-style-type: none;
  padding: 0;
}

a.btn {
  text-decoration: none;
}

.btn {
  display: flex;
  padding: toRem(16) toRem(24);
  justify-content: center;
  align-items: center;
  border-radius: toRem(29);
  border: toRem(2) solid wpColor("tl-blue-4");
  font-size: toRem(18);
  font-style: normal;
  font-weight: 800;
  line-height: toRem(18);
  cursor: pointer;
  position: relative;
  isolation: isolate;
}
