.wp-block-video {
    video {
        border-radius: 12px;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.16);
    }
}

.wp-block-details {
    summary {
        font-size: 22px;

        &::marker {
            color: #0A3782;
            margin-right: 10px;
        }
    }

    &:not(:last-of-type) {
        margin-bottom: 12px;
    }
}
