@use "../../assets/public/src/scss/global/abstract" as *;

.partner-slider {
  margin-bottom: toRem(120);
  overflow: hidden;

  &__marquee {
    overflow: hidden;

    .item-wrap {
      width: 600%;
      position: relative;
      white-space: nowrap;
      display: flex;
      gap: toRem(15);
      
      @include breakpoint(768px, min) {
        width: 400%;
        gap: toRem(20);
      }

      @include breakpoint(1024px, min) {
        width: 200%;
      }

      .item {
        text-align: center;
        flex: 1;
        justify-content: center;
        align-items: center;
      }
    }

    &--link {

      img {
        width: auto;
        height: 50px;
        object-fit: contain;
        filter: grayscale(100%);
        transition: filter 0.15s $torlak-ease;

        @include breakpoint(768px, min) {
          height: 100px;
        }

        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
}
